body{
    background-color: white;
    color:white;
    text-align: center;
    transition: color 1s ease-in-out;
}
.time{
    font-size: 60px;
}
.info,
.inputToDo,
ul{
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}

.top {
	height:70px;
	display: flex;
	align-items:center;	}


.form,
.info{
    display: none;
}

.showing {
    display: block;
    
}

@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.backgroundImage{
    position:absolute;
    background-size: cover;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    animation: fadeIn 0.5s linear;
}

.textBoxToDo{
    color:white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    background: transparent;
    width:500px; 
	height:100px; 
    resize:none;
}
.textBoxInfo{
    color:white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    background: transparent;
    width:300px; 
	height:100px; 
    resize:none;
}

.searchBox{
    color:white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    background: transparent;
    width:200px; 
	height:15px; 
    resize:none;
    display: flex;


}
.geoInfo{
    display: flex;
	margin-left: auto;
}



input::placeholder{
    color: white;
    font-size: 30px;
}